.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  background: rgb(73, 79, 82);
  color: white;
}
nav.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home {
  text-align: center;
}
.display-box {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-areas:
    "one two three"
    "four five six";
  grid-gap: 10px;
}
.one {
  width: 100%;
  height: 25vh;
  background-color: yellow;
}
.two {
  width: 100%;
  height: 25vh;
  background-color: orange;
}
.three {
  width: 100%;
  height: 25vh;
  background-color: red;
}
.four {
  width: 100%;
  height: 25vh;
  background-color: purple;
}
.five {
  width: 100%;
  height: 25vh;
  background-color: green;
}
.six {
  width: 100%;
  height: 25vh;
  background-color: blue;
}
