.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 13vh;
  background: rgb(73, 79, 82);
  color: white;
}
nav.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-header {
  margin-top: -20px;
  text-align: center;
  background: url("https://images.pexels.com/photos/1300972/pexels-photo-1300972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  background-position: 50% 50%;
}
